<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Send file or text</title>
</head>
<body>

<form action="/file" method="post" enctype="multipart/form-data">
    <h3>File to send:</h3>
    <input type="file" name="file">
    <input type="submit">
</form>

<hr>

<form action="/text" method="post">
    <h3>Text to send:</h3>
    <p><textarea name="text"></textarea></p>
    <input type="submit">
</form>

</body>
</html>